
html,body{
    background-color:yellow;
    background-repeat: no-repeat;
    background-size:cover;
}

footer{
    margin-top:80%;
}

#display{
    display:inline-block;
}


.result{
    opacity:0.4;
}


div .nav-wrapper{
    padding:50vh;
    margin:50vh;

}
div.card-content{
   margin:auto;
}

div .card-stacked tear{

}