<template name="tirrage">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
                <div style="display:inline-flex;" class="card-content">
                    <div style="border:1px solid black;background-color:red;border-radius: 100%;width:2em;height:2em; " id="result"></div>
                    <div style="border:1px solid black;background-color:cyan;border-radius: 100%;width:2em;height:2em;" id="result1"></div>
                    <div style="border:1px solid black;background-color:yellow;border-radius: 100%;width:2em;height:2em;" id="result2"></div>
                    <div style="border:1px solid black;background-color:greenyellow;border-radius: 100%;width:2em;height:2em;" id="result3"></div>
                    <div style="border:1px solid black;background-color:magenta;border-radius: 100%;width:2em;height:2em;" id="result4"></div>
                    <div style="border:1px solid ;background-color:black;color:white;border-radius: 100%;width:2em;height:2em;" id="result5"></div>
                </div>
                <div class="card-action">
                       <a id="gen" class="waves-effect waves-light btn-large">Get Lucky !</a>
                    <a id="rem" class="waves-effect waves-light btn-large">Drop Database</a>
                </div>
            </div>
        </div>
    </div>

    <div>

        <ul>
        {{#each loto}}
           <li>
               <ul>
                   {{#each tableau}}
                   <li>
                       <div id="result">{{num}}</div>

                    </li>
               {{/each}}
                    </ul>
               </li>

        {{/each}}

        </ul>
    </div>






<!--
//function Tirage(){
//        for (i = 0; i < 7; i++) {
//            var rst = Math.random() * 50;
//            var rnd =  (Math.round(rst));
//            $(result).html(Math.round(rst))+',';
//            var rst1 = Math.random() * 50;
//            var rnd1 = (Math.round(rst1));
//            $(result1).html(Math.round(rst1))+',';
//            var rst2 = Math.random() * 50;
//            var rnd2 = (Math.round(rst2));
//            $(result2).html(Math.round(rst2))+',';
//            var rst3 = Math.random() * 50;
//            var rnd3 = (Math.round(rst3));
//            $(result3).html(Math.round(rst3))+',';
//            var rst4 = Math.random() * 50;
//            var rnd4 = (Math.round(rst4));
//            $(result4).html(Math.round(rst4))+',';
//            var rst5 = Math.random() * 50;
//            var rnd5 = (Math.round(rst4))
//            $(result5).html(Math.round(rst4))+',';
//
//
//            a = new Array();
//            a.push({num:rnd});
//            a.push({num:rnd1});
//            a.push({num:rnd2});
//            a.push({num:rnd3});
//            a.push({num:rnd4});
//            a.push({num:rnd5});
//
//            var doc = {
//                names: a
//
//            }
//
//            Loto.insert(a);
//
//
//        }}
//
//function rem (){
//    Meteor.call('remove')
//}
-->





</template>